
/*Index CSS*/

body
{
	background-color: #11a3a5; /*blue color main background*/
}

#title /*change red header color, position, size*/
{
	
	background-color: #fa5050;	
	height: auto;
	border-radius: 20px; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 22%;
	width: 53%;
	min-width: 350px;
}

#name
{
	display: inline-block;
	width: 90%;
	height: 90%;
	min-width: 300px;
	

}

#menu /*change yellow menu color, position, size*/
{
	background-color: gold;
	border-radius: 25px;
	width: 24%;
	height: 10%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	min-width: 150px;
}

#mainBlockIndex/*change main green block color, position, size*/
{
	background: url("brightsky.jpg");
	background-color: #40c740;
	height:700px;
	border-radius: 20px 20px 0 0;
	margin-right: auto;
	margin-left: auto;
	


	/*#11a3a5*/
}

#menu a /*change menu text apperence, color, position*/
{
	text-decoration: none;
	color: #f95050;
	text-align: left;

}

#menu a:hover /*change menu text hover color*/
{
	color: #40c740;
}

.menuText /*change menu text font-family, position*/
{
	font-family: Rockwell Extra Bold;
	float: left;
	font-size: 150%;

}

th /*change menu text space*/
{
	padding-right: 10px;
	padding-left: 12px;
}

#textBox
{
	background-color: white;
	height: 300px;
	background-color:rgba(0,0,0,0.5);
	text-align: center;
	width: 32%;
	height: 63%;
	float: right;
	margin-right: 25px;
	margin-bottom: 25px;
}

.textBoxText
{
	color: white;
	
}








/*Info CSS*/

#mainBlockInfo
{
	background-color: orange;
	height:700px;
	border-radius: 20px 20px 0 0;
	margin-right: auto;
	margin-left: auto;
}










/*Games CSS*/

#mainBlockGames
{
	background-color: pink;
	height:700px;
	border-radius: 20px 20px 0 0;
	margin-right: auto;
	margin-left: auto;
}





/*Test code*/

/*#twitterText
{
	color: #fa5050;
	font-family: Rockwell Extra Bold;
}

.container
{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.custom-follow-button 
{
  width: 200px;
  margin: 1em auto 2em;
}  

.custom-follow-button a 
{
  position: relative;
  display: inline-block;
  height: 16px;
  padding: 2px;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  font-weight: bold;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left     bottom,from(#FFF),to(#DEDEDE));
  background-image: -moz-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -o-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -ms-linear-gradient(top,#FFF,#DEDEDE);
  border: #CCC solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}

.custom-follow-button a:hover  
{
  border-color: #BBB;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#D9D9D9));
  background-image: -moz-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -o-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -ms-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: linear-gradient(top,#F8F8F8,#D9D9D9);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-follow-button a .btn-icon
{
  position: absolute;
  width: 16px;
  height: 13px;
  top: 50%;
  left: 3px;
  margin-top: -6px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}

.custom-follow-button a .btn-text
{
  display: inline-block;
  padding: 1px 3px 0 20px;
}*/



